body {
    background-color: lightblue;
}

h1 {
    font-family: arial;
    text-align: center;
    border: solid white;
    margin: 0 20% 0 20%;
    padding: 20px;
    background-color: pink;
    transform: rotate(0deg);
    border-radius: 10px;
}

.pa {
    font-family: arial;
    font-style: italic;
    text-align: center;
}

hr {
    width: 50%;
    text-align: center;
    color: darkgray;
}

.mia {
    background-color: skyblue;
    width: 75%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 200px;
    width: 200px;
    border: solid orange;
}

.final {
    background-color: cornflowerblue;
    margin: auto;
    width: 75%;
    height: 200px;
    text-align: center;
    padding: 25px 0 25px 0;
    color: white;
    font-weight: bold;
    display: block; 
    float: center;
}

.mor {
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid white;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.love {
    text-align: center;
    font-family: arial;
    font-style: italic;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aja {
    position: fixed;
    right: 5px;
    top: 47%;
    border: 1px;
    height: 65px;
    width: 65px;
    opacity: 0.5;
    transition: width 0.5s, height 0.5s, opacity 0.5s;
}

.acuya{
    position: fixed;
    right: 5px;
    top: 35%;
    border: 1px;
    height: 65px;
    width: 65px;
    opacity: 0.5;
    transition: width 0.5s, height 0.5s, opacity 0.5s;
}

.hola {
    position: fixed;
    right: 5px;
    top: 59%;
    border: 1px;
    height: 65px;
    width: 65px;
    opacity: 0.5;
    transition: width 0.5s, height 0.5s, opacity 0.5s;
}

nav {
    height: 30px;
}

* {
    box-sizing: border-box;
  }

.pepe {
    text-align: center;
    font-family: arial;
    width: 33.33%;
    font-size: 23px;
    float: left;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border: solid white 1px;
    background-color: lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);  
}

.pablo {
    text-align: center;
    font-family: arial;
    width: 33.33%;
    font-size: 23px;
    float: left;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border: solid white 1px;
    background-color: lightgray; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}
.pedro {
    text-align: center;
    font-family: arial;
    width: 33.33%;
    font-size: 23px;
    float: left;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border: solid white 1px;
    background-color: lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19); 
}   
.pedro:hover {
    background-color: white;
}
.pedro:active {
    background-color: lightgray;
}
.pepe:hover {
    background-color: white;
}
.pepe:active {
        background-color: lightgray;
}

.pablo:hover {
    background-color: white;
}
.pablo:active {
    background-color: lightgray;
}
.si {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.aja:hover{
    width: 150px;
    height: 150px;
    opacity: 100%;
}
.acuya:hover{
    width: 150px;
    height: 150px;
    opacity: 100%;
}
.hola:hover{
    width: 150px;
    height: 150px;
    opacity: 100%;
}
.hola:active {
    border-radius: 50%;
    background-color: white;
}
.aja:active {
    border-radius: 50%;
    background-color: white;
}
.acuya:active {
    border-radius: 35%;
    background-color: white;
}